.track {
  border-width: 2px;
  border-color: var(--mantine-color-dark-8);
  background-color: var(--mantine-color-dark-9);
  padding: 0;
  height: 20px;
  & > .thumb {
    border: none;
    background-color: var(--mantine-color-dark-4);
  }
}
